[Unit]
Description=FeatherPanel service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/featherpanel
ExecStart=/usr/bin/sudo /opt/featherpanel/fp start
ExecStop=/usr/bin/sudo /opt/featherpanel/fp stop
Restart=always

[Install]
WantedBy=multi-user.target

